.button
  display: inline-block
  height: 58px
  padding: 0 37px
  border-radius: 29px
  line-height: 58px
  background-color: $color-active
  font-weight: 700
  color: $color-white
  transition: background-color 0.2s ease-in
  &:hover
    background-color: $color-active-hover